<!-- Your HTML code with Task 1, Task 2, Task 3, and Task 4 generated -->
{% extends "base.html" %}

{% block content %}
<head>
    <title>Input Data</title>
</head>

<body>
    <h1>Input Data</h1>
    <br>
    <br>
    <form method="POST" action="{{ url_for('views.home') }}">
        <table border="2" class="normal">
            <tbody>
                <tr> 
                    <td align="left">
                        Wake Up Time:
                        <input type="time" id="wakeupTime" name="wakeupTime" required><br>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <h2>Fixed Schedule:</h2>
        <table border="2" class="normal">
            <tbody>
                <tr> 
                    <td class="normal" align="center" colspan="5">
                        <h5>Fixed Schedule 1</h5>
                    </td>
                </tr>
                <tr> 
                    <td align="center"></td>
                    <td align="left">
                        Name:
                        <input type="text" size="13" id="FS1_name" name="FS1_name" required><br>
                    </td>
                    <td align="right" class="wide">
                          Start Time:
                          <input type="time" id="start_time1" name="start_time1" required><br>
                          End Time:
                          <input type="time" id="end_time1" name="end_time1" required><br>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table border="2" class="normal">
            <tbody>
                <tr> 
                    <td class="normal" align="center" colspan="5">
                        <h5>Fixed Schedule 2</h5>
                    </td>
                </tr>
                <tr> 
                    <td align="center"></td>
                    <td align="left">
                        Name:
                        <input type="text" size="13" id="FS2_name" name="FS2_name" required><br>
                    </td>
                    <td align="right" class="wide">
                          Start Time:
                          <input type="time" id="start_time2" name="start_time2" required><br>
                          End Time:
                          <input type="time" id="end_time2" name="end_time2" required><br>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <h2>Tasks:</h2>
        <table border="2" class="normal">
            <tbody>
                <!-- Task 1 -->
                <tr> 
                    <td class="normal" align="center" colspan="5">
                        <h5>Task 1</h5>
                    </td>
                </tr>
                <tr> 
                    <td align="center"></td>
                    <td align="left">
                        Name:
                        <input type="text" size="13" id="task_name1" name="task_name1" required><br>
                        <br>
                        Task Duration:
                        <input type="text" size="4" id="timeRequired1" name="timeRequired1" required>&nbsphrs<br>
                    </td>
                    <td align="right" class="wide">
                        <h6>Deadline&nbsp&nbsp&nbsp&nbsp</h6>
                        Monday
                        <input type="radio" id="deadline1" name="deadline1" value="deadline"><br>
                        Tuesday
                        <input type="radio" id="deadline1" name="deadline1" value="deadline"><br>
                        Wednesday
                        <input type="radio" id="deadline1" name="deadline1" value="deadline"><br>
                        Thursday
                        <input type="radio" id="deadline1" name="deadline1" value="deadline"><br>
                        Friday
                        <input type="radio" id="deadline1" name="deadline1" value="deadline"><br>
                    </td>
                    <td align="right" class="wide">
                        <h6>Time Preferences</h6>
                        Morning
                        <input type="radio" id="morning1" name="morning1" value="morning"><br>
                        Afternoon
                        <input type="radio" id="afternoon1" name="morning1" value="afternoon"><br>
                        Evening
                        <input type="radio" id="evening1" name="morning1" value="evening"><br>
                        <br>
                  </td>
                </tr>

                <!-- Task 2 -->
                <tr> 
                    <td class="normal" align="center" colspan="5">
                        <h5>Task 2</h5>
                    </td>
                </tr>
                <tr> 
                    <td align="center"></td>
                    <td align="left">
                        Name:
                        <input type="text" size="13" id="task_name2" name="task_name2" required><br>
                        <br>
                        Task Duration:
                        <input type="text" size="4" id="timeRequired2" name="timeRequired2" required>&nbsphrs<br>
                    </td>
                    <td align="right" class="wide">
                        <h6>Deadline&nbsp&nbsp&nbsp&nbsp</h6>
                        Monday
                        <input type="radio" id="deadline2" name="deadline2" value="deadline"><br>
                        Tuesday
                        <input type="radio" id="deadline2" name="deadline2" value="deadline"><br>
                        Wednesday
                        <input type="radio" id="deadline2" name="deadline2" value="deadline"><br>
                        Thursday
                        <input type="radio" id="deadline2" name="deadline2" value="deadline"><br>
                        Friday
                        <input type="radio" id="deadline2" name="deadline2" value="deadline"><br>
                    </td>
                    <td align="right" class="wide">
                        <h6>Time Preferences</h6>
                        Morning
                        <input type="radio" id="morning2" name="morning2" value="morning"><br>
                        Afternoon
                        <input type="radio" id="afternoon2" name="morning2" value="afternoon"><br>
                        Evening
                        <input type="radio" id="evening2" name="morning2" value="evening"><br>
                        <br>
                    </td>
                </tr>
                
                <!-- Task 3 -->
                <tr> 
                    <td class="normal" align="center" colspan="5">
                        <h5>Task 3</h5>
                    </td>
                </tr>
                <tr> 
                    <td align="center"></td>
                    <td align="left">
                        Name:
                        <input type="text" size="13" id="task_name3" name="task_name3" required><br>
                        <br>
                        Task Duration:
                        <input type="text" size="4" id="timeRequired3" name="timeRequired3" required>&nbsphrs<br>
                    </td>
                    <td align="right" class="wide">
                        <h6>Deadline&nbsp&nbsp&nbsp&nbsp</h6>
                        Monday
                        <input type="radio" id="deadline3" name="deadline3" value="deadline"><br>
                        Tuesday
                        <input type="radio" id="deadline3" name="deadline3" value="deadline"><br>
                        Wednesday
                        <input type="radio" id="deadline3" name="deadline3" value="deadline"><br>
                        Thursday
                        <input type="radio" id="deadline3" name="deadline3" value="deadline"><br>
                        Friday
                        <input type="radio" id="deadline3" name="deadline3" value="deadline"><br>
                    </td>
                    <td align="right" class="wide">
                        <h6>Time Preferences</h6>
                        Morning
                        <input type="radio" id="morning3" name="morning3" value="morning"><br>
                        Afternoon
                        <input type="radio" id="afternoon3" name="morning3" value="afternoon"><br>
                        Evening
                        <input type="radio" id="evening3" name="morning3" value="evening"><br>
                        <br>
                    </td>
                </tr>
                

                <!-- Task 4 -->
                <tr> 
                    <td class="normal" align="center" colspan="5">
                        <h5>Task 4</h5>
                    </td>
                </tr>
                <tr> 
                    <td align="center"></td>
                    <td align="left">
                        Name:
                        <input type="text" size="13" id="task_name4" name="task_name4" required><br>
                        <br>
                        Task Duration:
                        <input type="text" size="4" id="timeRequired4" name="timeRequired4" required>&nbsphrs<br>
                    </td>
                    <td align="right" class="wide">
                        <h6>Deadline&nbsp&nbsp&nbsp&nbsp</h6>
                        Monday
                        <input type="radio" id="deadline4" name="deadline4" value="deadline"><br>
                        Tuesday
                        <input type="radio" id="deadline4" name="deadline4" value="deadline"><br>
                        Wednesday
                        <input type="radio" id="deadline4" name="deadline4" value="deadline"><br>
                        Thursday
                        <input type="radio" id="deadline4" name="deadline4" value="deadline"><br>
                        Friday
                        <input type="radio" id="deadline4" name="deadline4" value="deadline"><br>
                    </td>
                    <td align="right" class="wide">
                        <h6>Time Preferences</h6>
                        Morning
                        <input type="radio" id="morning4" name="morning4" value="morning"><br>
                        Afternoon
                        <input type="radio" id="afternoon4" name="morning4" value="afternoon"><br>
                        Evening
                        <input type="radio" id="evening4" name="morning4" value="evening"><br>
                        <br>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <br>
        <input type="submit" value="Save Data">
        <br>
        <br>
    </form>
</body>

{% endblock %}
