<!-- Your HTML code with Task 1, Task 2, Task 3, and Task 4 generated -->
{% extends "base.html" %}

{% block content %}
<head> 
    <style>
        * {
          box-sizing: border-box;
        }
        
        .row {
          display: flex;
          flex-wrap: wrap;
        }
          
        .column {
          flex: 50%;
          padding: 5px;
        }
        
        table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
        }
        
        th, td {
          text-align: left;
          padding: 16px;
        }
        
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
    </style>
    <title>Input Data</title>
</head>

<body>
    <br>
    <br>
    <br>

    <form method="POST" action="{{ url_for('views.home') }}">
        <!-- Wake Up Time -->
        <table border="2" class="normal">
            <tbody>
                <tr> 
                    <td align="left">
                        Wake Up Time:
                        <input type="time" id="wakeup_time" name="wakeup_time" value="08:00"><br>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>

        <!-- Reserved Time 1 -->
        <div class="row">
            <div class="column">
                <h2>Reserved Time 1</h2>
                <table border="2" class="normal">
                    <tbody>
                        <tr> 
                            <td align="left">
                                Name:
                                <input type="text" size="13" id="reserved_time_1" name="reserved_time_1" value=""><br>
                            </td>
                            <td align="right" class="wide">
                                Start Time:
                                <input type="time" id="start_time_1" name="start_time_1" value="08:00"><br>
                                &nbsp&nbspEnd Time:
                                <input type="time" id="end_time_1" name="end_time_1" value="08:00"><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <br>

        <!-- Reserved Time 2 -->
            <div class="column">
                <h2>Reserved Time 2</h2>
                <table border="2" class="normal">
                    <tbody>
                        <tr> 
                            <td align="left">
                                Name:
                                <input type="text" size="13" id="reserved_time_2" name="reserved_time_2" value=""><br>
                            </td>
                            <td align="right" class="wide">
                                Start Time:
                                <input type="time" id="start_time_2" name="start_time_2" value="08:00"><br>
                                &nbsp&nbspEnd Time:
                                <input type="time" id="end_time_2" name="end_time_2" value="08:00"><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>

        <!-- Tasks -->
        <h2>Tasks:</h2>

        <!-- Task 1 -->
        <div class="row">
            <div class="column">
                <h3>Task 1</h3>
                <table border="2" class="normal">
                    <tbody>
                        <!-- Task 1 -->
                        <tr> 
                            <td align="left">
                                Name:

                                <input type="text" size="13" id="task_name_1" name="task_name_1" value=""><br>
                                <br>
                                Task Duration:
                                <input type="text" size="4" id="timeRequired_1" name="timeRequired_1" value="0">&nbsphrs<br>
                            </td>
                            <td align="left" class="wide">
                                <center>Deadline:</center>
                                <input type="radio" id="deadline_1" name="deadline_1" value="Monday">Monday<br>
                                <input type="radio" id="deadline_1" name="deadline_1" value="Tuesday">Tuesday<br>
                                <input type="radio" id="deadline_1" name="deadline_1" value="Wednesday">Wednesday<br>
                                <input type="radio" id="deadline_1" name="deadline_1" value="Thursday">Thursday<br>
                                <input type="radio" id="deadline_1" name="deadline_1" value="Friday" checked>Friday<br>
                            </td>
                            <td align="left" class="wide">
                                <center>Time Preferences:</center>
                                <input type="radio" id="morning_1" name="morning_1" value="Morning" checked>Morning<br>
                                <input type="radio" id="morning_1" name="morning_1" value="Afternoon">Afternoon<br>
                                <input type="radio" id="morning_1" name="morning_1" value="Evening">Evening<br>

                                <br>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
                <br>

        <!-- Task 2 -->
            <div class="column">
                <h3>Task 2</h3>
                <table border="2" class="normal">
                    <tbody>

                        <tr> 
                            <td align="left">
                                Name:

                                <input type="text" size="13" id="task_name_2" name="task_name_2" value=""><br>
                                <br>
                                Task Duration:
                                <input type="text" size="4" id="timeRequired_2" name="timeRequired_2" value="0">&nbsphrs<br>
                            </td>
                            <td align="left" class="wide">
                                <center>Deadline:</center>
                                <input type="radio" id="deadline_2" name="deadline_2" value="Monday">Monday<br>
                                <input type="radio" id="deadline_2" name="deadline_2" value="Tuesday">Tuesday<br>
                                <input type="radio" id="deadline_2" name="deadline_2" value="Wednesday">Wednesday<br>
                                <input type="radio" id="deadline_2" name="deadline_2" value="Thursday">Thursday<br>
                                <input type="radio" id="deadline_2" name="deadline_2" value="Friday" checked>Friday<br>
                            </td>
                            <td align="left" class="wide">
                                <center>Time Preferences:</center>
                                <input type="radio" id="morning_2" name="morning_2" value="Morning" checked>Morning<br>
                                <input type="radio" id="morning_2" name="morning_2" value="Afternoon">Afternoon<br>
                                <input type="radio" id="morning_2" name="morning_2" value="Evening">Evening<br>
                                <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                <br>

        <!-- Task 3 -->
        <div class="row">
            <div class="column">
                <h3>Task 3</h3>
                <table border="2" class="normal">
                    <tbody>

                        <tr> 
                            <td align="left">
                                Name:

                                <input type="text" size="13" id="task_name_3" name="task_name_3" value=""><br>
                                <br>
                                Task Duration:
                                <input type="text" size="4" id="timeRequired_3" name="timeRequired_3" value="0">&nbsphrs<br>
                            </td>
                            <td align="left" class="wide">
                                <center>Deadline:</center>
                                <input type="radio" id="deadline_3" name="deadline_3" value="Monday">Monday<br>
                                <input type="radio" id="deadline_3" name="deadline_3" value="Tuesday">Tuesday<br>
                                <input type="radio" id="deadline_3" name="deadline_3" value="Wednesday">Wednesday<br>
                                <input type="radio" id="deadline_3" name="deadline_3" value="Thursday">Thursday<br>
                                <input type="radio" id="deadline_3" name="deadline_3" value="Friday" checked>Friday<br>
                            </td>
                            <td align="left" class="wide">
                                <center>Time Preferences:</center>
                                <input type="radio" id="morning_3" name="morning_3" value="Morning" checked>Morning<br>
                                <input type="radio" id="morning_3" name="morning_3" value="Afternoon">Afternoon<br>
                                <input type="radio" id="morning_3" name="morning_3" value="Evening">Evening<br>
                                <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <br>

            <!-- Task 4 -->
            <div class="column">
                <h3>Task 4</h3>
                <table border="2" class="normal">
                    <tbody>

                        <tr> 
                            <td align="left">
                                Name:
                                <input type="text" size="13" id="task_name_4" name="task_name_4" value=""><br>
                                <br>
                                Task Duration:
                                <input type="text" size="4" id="timeRequired_4" name="timeRequired_4" value="0">&nbsphrs<br>
                            </td>
                            <td align="left" class="wide">
                                <center>Deadline:</center>
                                <input type="radio" id="deadline_4" name="deadline_4" value="Monday">Monday<br>
                                <input type="radio" id="deadline_4" name="deadline_4" value="Tuesday">Tuesday<br>
                                <input type="radio" id="deadline_4" name="deadline_4" value="Wednesday">Wednesday<br>
                                <input type="radio" id="deadline_4" name="deadline_4" value="Thursday">Thursday<br>
                                <input type="radio" id="deadline_4" name="deadline_4" value="Friday" checked>Friday<br>
                            </td>
                            <td align="left" class="wide">
                                <center>Time Preferences:</center>
                                <input type="radio" id="morning_4" name="morning_4" value="Morning" checked>Morning<br>
                                <input type="radio" id="morning_4" name="morning_4" value="Afternoon">Afternoon<br>
                                <input type="radio" id="morning_4" name="morning_4" value="Evening">Evening<br>
                                <br>
                            </td>
                        </tr>  
                    </tbody>
                </table>
            </div>
        </div>
        <br>

        <br>
        <input type="submit" value="Save Data">
        <br>
        <br>
    </form>
</body>

{% endblock %}
