{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <!-- CSS tempalte -->
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <!-- html template -->
    <br>
    <br>
    <br>
    <form method="POST">
      <div class="section">
        <div class="container">
          <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
              <div class="section pb-5 pt-5 pt-sm-2 text-center">
                <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                      <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                      <label for="reg-log"></label>
                <div class="card-3d-wrap mx-auto">
                  <div class="card-3d-wrapper">
                    <div class="card-front">
                      <div class="center-wrap">
                        <div class="section text-center">
                          <h4 class="mb-4 pb-3">Log In</h4>
                          <div class="form-group mt-2">
                            <input type="email" name="email" class="form-style" placeholder="Your Email" id="email">
                            <i class="input-icon uil uil-at"></i>
                          </div>	
                          <div class="form-group mt-2">
                            <input type="password" name="password" class="form-style" placeholder="Your Password" id="password">
                            <i class="input-icon uil uil-lock-alt"></i>
                          </div>
                          <button type="submit" class="btn mt-4">submit</a>
                                        
                            </div>
                          </div>
                        </div>
                    <div class="card-back">
                      <div class="center-wrap">
                        <div class="section text-center">
                          <h4 class="mb-4 pb-3">Sign Up</h4>
                          <div class="form-group">
                            <input type="text" name="firstName" class="form-style" placeholder="Your First Name" id="firstName" autocomplete="off">
                            <i class="input-icon uil uil-user"></i>
                          </div>	
                          <div class="form-group mt-2">
                            <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                            <i class="input-icon uil uil-at"></i>
                          </div>	
                          <div class="form-group mt-2">
                            <input type="password" name="password1" class="form-style" placeholder="Your Password" id="password1" autocomplete="off">
                            <i class="input-icon uil uil-lock-alt"></i>
                          </div>
                          <div class="form-group mt-2">
                            <input type="password" name="password2" class="form-style" placeholder="Confirm Password" id="password2" autocomplete="off">
                            <i class="input-icon uil uil-lock-alt"></i>
                          </div>
                          <button type="submit" class="btn mt-4">submit</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </form>






    <!--<form method="POST">
      <br>
      <h3 align="center">Login</h3>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Login</button>
    </form>-->
    {% endblock %}